<script type="text/template" id="notifications-template">
<% _.each(notifications, function(notification, i) { %>
    <% if (i > 0) { %>
        <hr>
    <% } %>
    <%= notification.content %>
    <% if (notification.fb_feed_title) { %>
        <div style="text-align: right;">
            <a class="btn btn-social-icon btn-facebook" href="#"
               data-fb_feed_title="<%= notification.fb_feed_title %>"
               data-fb_feed_description="<%= notification.fb_feed_description %>">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
    <% } %>
<% }) %>
</script>