<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand cientopolis" href="//cientopolis.lifia.info.unlp.edu.ar">
        <img src="{{ static('img/cientopolis.png') }}"
             alt="Cientópolis Logo" title="Cientópolis - Plataforma para la ciencia ciudadana">
      </a>
      <a class="navbar-brand" href="{{ url('login') }}">GALAXY CONQUEROR</a>
    </div>
    {% if user.is_authenticated() %}
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav player-stats">
        <li>
          <img src="{{ static('game/img/vote.png') }}" width="25">
          <span>{{ user.votes.count() }}</span>
        </li>
        <li>
          <img src="{{ static('game/img/coins.png') }}" width="25">
          <span>{{ user.score }}</span>
        </li>
        <li>
          <img src="{{ static('game/img/galaxy.png') }}" width="25">
          <span>{{ user.galaxy_candidates.count() }}</span>
        </li>
        <li>
          <img src="{{ static('game/img/ufo.png') }}" width="25">
          <span>{{ user.hunted_aliens.count() }}</span>
        </li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated() and user.is_staff %}
        <li {% if navbar_playing %}class="active"{% endif %}>
            <a href="{{ url('game') }}">Jugar</a>
        </li>
        {% endif %}
        {% if user.is_authenticated() and user.is_staff %}
        <li {% if navbar_report %}class="active"{% endif %}>
            <a href="{{ url('report') }}">Reportes</a>
        </li>
        {% endif %}
        <li {% if navbar_contact %}class="active"{% endif %}>
            <a href="{{ url('contact') }}">Contacto</a>
        </li>
        {% if user.is_authenticated() %}
        <li class="dropdown navbar-right">
          <a href="#" class="dropdown-toggle"
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{ user.profile_picture_url() }}" class="profile-pic" alt="user profile picture">
            <span>
              <h6>{{ user.displayed_name() }}</h6>
              <h6>{{ user.level().name }}</h6>
            </span>
            <img src="{{ user.level().image_url }}" width="50" alt="{{ user.level().name }} logo">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ url('logout') }}">Cerrar sesión</a></li>
          </ul>
        {% endif %}
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
