@charset "UTF-8";

/*
Esto estaba en /static/style.css
Se pisa con otros estilos acá
Arreglarlo


.game-button, #map .ol-control:not(.ol-attribution).markGalaxy button, #map .ol-control:not(.ol-attribution).nextGalaxy button {
    width: 450px;
    font-size: 28px;
}

.game-button:active, #map .ol-control:not(.ol-attribution).markGalaxy button:active, #map .ol-control:not(.ol-attribution).nextGalaxy button:active {
    position: relative;
    top: 5px;
}

#map .ol-control:not(.ol-attribution) {
    background: transparent;
    position: absolute;
}

#map .ol-control:not(.ol-attribution).nextGalaxy {
    bottom: 70px;
    right: 2%;
    display: none;
}

#map .ol-control:not(.ol-attribution) button, #map .ol-control:not(.ol-attribution) span {
    font-family: "The Rave Is In Your Pants", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFD500;
    background: transparent;
    outline: none;
}

#map .ol-control:not(.ol-attribution) button, #map .ol-control:not(.ol-attribution) span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map .ol-control:not(.ol-attribution) button:hover, #map .ol-control:not(.ol-attribution) span:hover {
    color: #ffe666;
}

#map .ol-control:not(.ol-attribution) button:disabled, #map .ol-control:not(.ol-attribution) span:disabled {
    color: rgba(255, 213, 0, 0.5);
}

#map .ol-control:not(.ol-attribution).ol-zoom {
    position: absolute;
    left: inherit;
    right: 45px;
    top: 5px;
}

#map .ol-control:not(.ol-attribution).open-tutorial-btn {
    right: 1%;
    top: 80px;
    width: 100px;
}

#map .ol-control:not(.ol-attribution).score {
    display: none;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}

#map .ol-control:not(.ol-attribution).score span {
    font-size: 50px;
}

#map .ol-control:not(.ol-attribution).markGalaxy {
    bottom: 30px;
    left: 2%;
}



#map .ol-control:not(.ol-attribution).nextGalaxy {
    bottom: 70px;
    right: 2%;
    display: none;
}


*/


body {
    background: black;
    color: white;
    input-color: black;
}

.bootbox {
    color: #555;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.ol-rotate {
    display: none;
}

.map {
    height: 600px;
    width: 100%;
    float: left;
}

.tableContainer {
    width: 25%;
    float: right;
    padding: 0 25px;
}

.scoreTable {
    color: white;
    width: 100%;
}

.afavor {
    color: #01DF01;
}

/*
.game-button, #map .ol-control:not(.ol-attribution).markGalaxy button, #map .ol-control:not(.ol-attribution).nextGalaxy button {
    width: 450px;
    font-size: 28px;
}

.game-button:active, #map .ol-control:not(.ol-attribution).markGalaxy button:active, #map .ol-control:not(.ol-attribution).nextGalaxy button:active {
    position: relative;
    top: 5px;
}
*/

#map .expanding-point {
    color: #FFD500;
    font-family: "The Rave Is In Your Pants", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
#map .ol-control:not(.ol-attribution) {
    background: transparent;
    position: absolute;
}

#map .ol-control:not(.ol-attribution) button, #map .ol-control:not(.ol-attribution) span {
    font-family: "The Rave Is In Your Pants", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #FFD500;
    background: transparent;
    outline: none;
}

#map .ol-control:not(.ol-attribution) button, #map .ol-control:not(.ol-attribution) span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map .ol-control:not(.ol-attribution) button:hover, #map .ol-control:not(.ol-attribution) span:hover {
    color: #ffe666;
}

#map .ol-control:not(.ol-attribution) button:disabled, #map .ol-control:not(.ol-attribution) span:disabled {
    color: rgba(255, 213, 0, 0.5);
}
*/

#map .ol-control:not(.ol-attribution).ol-zoom {
    position: absolute;
    left: 5px;
    top: 5px;
}

#map .ol-control:not(.ol-attribution).markGalaxy {
    position: absolute;
    left: 5px;
    top: 70px;
}

#map .ol-control:not(.ol-attribution).open-tutorial-btn {
    position: absolute;
    left: 5px;
    top: 110px;
}


/*
#map .ol-control:not(.ol-attribution).score {
    display: none;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}

#map .ol-control:not(.ol-attribution).score span {
    font-size: 50px;
}

#map .ol-control:not(.ol-attribution).markGalaxy {
    bottom: 30px;
    left: 2%;
}*/

.actual {
    color: #0080FF;
}

.expanding-point {
    text-align: center;
    position: absolute;
    color: white;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

/* @media */

/*@media screen and (max-width: 1000px) {
    #map .ol-control:not(.ol-attribution).nextGalaxy {
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .game-button, #map .ol-control:not(.ol-attribution).markGalaxy button, #map .ol-control:not(.ol-attribution).nextGalaxy button {
        font-size: 22px;
    }
}

@media screen and (max-width: 850px) {
    .game-button, #map .ol-control:not(.ol-attribution).markGalaxy button, #map .ol-control:not(.ol-attribution).nextGalaxy button {
        font-size: 16px;
        width: 300px;
    }
}*/

