{% extends "base.jinja" %}

{% block css %}
    <style>
        form {
            width: 400px;
            margin: 10% auto;
        }
        form label {
            width: 50%;
            text-align: right;
        }
        form .sign-in-btn-container {
            width: 50%;
            text-align: right;
        }
        form .sign-up-btn-container {
            /*width: 50%;*/
        }
        form .sign-in-btn-container, form .sign-up-btn-container {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Open Sans', sans-serif;">
    <h1>Bienvenido a Galaxy Conqueror</h1>
    <div class="col-md-6">
        <p>
            Galaxy Conqueror es un juego de Ciencia Ciudadana.
            Invita a voluntarios a marcar potenciales galaxias en una imagen del cielo nocturno.
            Un breve tutorial les enseña las características básicas y ya pueden salir a conquistar y
            atrapar extraterrestes que se cruzan en el camino.
            Luego, un equipo de astrónomos del
            <a href="http://nova.conicet.gov.ar/">Nuevo Observatorio Virtual Argentino</a>
            evalúa las galaxias
            marcadas por los voluntarios.
        </p>
        <p>
            El proyecto es parte de la iniciativa
            <a href="http://cientopolis.lifia.info.unlp.edu.ar/">Cientópolis</a>
            y se encuentra en fase piloto.
        </p>
        <p>
            Si desea saber de que se trata, veal el video de presentación.
            Pero si es un valiente conquistador espacial,
            ingrese a una prueba beta con su usuario de Facebook.
        </p>
    {% if not user.is_authenticated() %}
    <a href="{{ url('socialauth_begin', 'facebook') }}">
        <img alt="Iniciar Sesión con Facebook" src="{{ static('users/img/facebook-login.png') }}">
    </a>
    {% endif %}
    <p>Equipo: Juan Ignacio Yañez, Matías Celasco, Roberto Gamen</p>
    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/x9XWdZ8FCpU" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock content %}