.messages {
    z-index: 9000;
    margin-right: -250px;
    width: 500px;
    position: absolute;
    right: 50%;
    bottom: 80px;
    text-align: center;
    background: #2175BF;
    color: white;
    padding: 10px;
    border: 5px solid white;
    box-shadow: 0 0 5px 0 #CCC;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    -webkit-box-shadow: 0 0 5px 0 #CCC;
    cursor: pointer;
}

.messages.error {
    background: #FF0000; /* red */
}

.messages.info {
    background: #30C4F3; /* light blue*/
}

.messages.warning {
    background: #F0CE3A; /* yellow */
}

.messages.success {
    background: #42A813; /* green*/
}

.messages li {
    text-decoration: none;
}