@import ../../apps/tutorials/static/tutorials/css/tutorials
@import ../../apps/game/static/game/css/game
@import ../../apps/core/static/core/css/contact
@import ../../apps/users/static/users/css/login

.modal-backdrop.fade.in
    z-index: 0

header > *
    display: inline-block
    margin: 20px


body
    background: #0D0B0C
    color: white
    input:
        color: black

.navbar, .navbar-default
    background: #251A1A
    border: none
    .player-stats
        margin-left: 6%
        &> li
            width: 80px
            height: 50px
            padding: 5px
            display: inline-block
            span
                height: 25px
                margin: 10px 0
                color: white
                width: 40px
                text-align: center
                display: inline-block
            img
                width: 25px
                display: inline-block
    .nav-bar > .open
        .dropdown-toggle
            background-color: #4C2626
    .dropdown-toggle
        &:hover, &:focus
            background: #4C2626
        &> span
            color: white
            display: inline-block
            h6
                font-size: 12px
                margin: 0

    .dropdown-menu
        background: #251A1A
        &> li > a
            &:hover
                background: #4C2626
            color: white

    .navbar-nav > li > a
        color: white
        padding: 15px 10px
        &:hover
            color: white
            opacity: 0.8
    .navbar-nav > .active > a
        background: #4C2626
        color: white
        &:hover
            background: lighten(#4C2626, 10%)
            color: white
    margin: 0
    box-shadow: 0 6px 13px 6px rgba(0, 0, 0, 0.5)
    a.navbar-brand
        color: white
    ul li a
        color: white
    .navbar-brand.cientopolis
        padding: 5px 15px
        img
            width: 50px
    .dropdown
        .open
            color: black
        .dropdown-toggle
            padding: 0px 15px
            .profile-pic
                height: 40px

nav .dropdown.open .dropdown-toggle
    &:hover, &:hover
        background: #4C2626
    background: #4C2626 !important