.tutorial.modal {
    color: #333;
}

.tutorial.modal .pages {
    display: none;
}

.thumbnail > img, .thumbnail a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
    content: " ";
    display: table;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container-fluid:before, .container-fluid:after {
    content: " ";
    display: table;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}

.btn-toolbar:before, .btn-toolbar:after {
    content: " ";
    display: table;
}

.btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}

.nav:before, .nav:after {
    content: " ";
    display: table;
}

.navbar:before, .navbar:after {
    content: " ";
    display: table;
}

.navbar-header:before, .navbar-header:after {
    content: " ";
    display: table;
}

.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}

.pager:before, .pager:after {
    content: " ";
    display: table;
}

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}

.modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}

.galaxy-info:before, .galaxy-info:after {
    content: " ";
    display: table;
}

.galaxy-info .main-info .user-info:before, .galaxy-info .main-info .user-info:after {
    content: " ";
    display: table;
}

.galaxy-info .main-info .lorem-ipsum:before, .galaxy-info .main-info .lorem-ipsum:after {
    content: " ";
    display: table;
}

.dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}

.galaxy-info {
    margin-left: -15px;
    margin-right: -15px;
    color: #000;
    width: 250px;
}

.galaxy-info:after {
    clear: both;
}

.galaxy-info .main-info {
    position: relative;
    float: left;
    width: 75%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.galaxy-info .main-info .user-info:after, .galaxy-info .main-info .lorem-ipsum:after {
    clear: both;
}

.galaxy-info .main-info .user-info {
    margin-left: -15px;
    margin-right: -15px;
}

.galaxy-info .main-info .user-info .profile-picture-container {
    position: relative;
    float: left;
    width: 41.66667%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.galaxy-info .main-info .user-info .profile-picture-container img {
    width: 100%;
}

.galaxy-info .main-info .user-info .username-container {
    position: relative;
    float: left;
    width: 58.33333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 0;
    text-align: center;
}

.galaxy-info .main-info .user-info .username-container h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.galaxy-info .main-info .user-info .username-container h6 {
    font-size: 10px;
    color: #626262;
    margin-top: 3px;
}

.galaxy-info .main-info .lorem-ipsum {
    margin-left: -15px;
    margin-right: -15px;
}

.galaxy-info .main-info .lorem-ipsum .galaxy-image {
    width: 70px;
    margin-left: 53%;
    margin-top: 0;
    border: outset 4px rgba(30, 110, 130, 0.38);
}

.galaxy-info .main-info .lorem-ipsum p {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 11px;
    margin-top: 8px;
    padding-right: 0;
}

.galaxy-info .votes {
    position: relative;
    float: left;
    width: 25%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.galaxy-info .votes .positives-amount {
    margin-top: 5px;
    color: #008000;
}

.galaxy-info .votes .negatives-amount {
    margin-bottom: 5px;
    color: #f00;
}

.galaxy-info .votes hr {
    margin: 5px 0;
}

.bootbox {
    color: #555;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.ol-rotate {
    display: none;
}

.map {
    height: 600px;
    width: 100%;
    float: left;
}

.tableContainer {
    width: 25%;
    float: right;
    padding: 0 25px;
}

.scoreTable {
    color: white;
    width: 100%;
}

.afavor {
    color: #01DF01;
}

.actual {
    color: #0080FF;
}

.expanding-point {
    text-align: center;
    position: absolute;
    color: #FFD500;
    font-family: "The Rave Is In Your Pants", "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1000;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

.contact div {
    max-width: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.contact div p {
    text-align: center;
}

form {
    width: 400px;
    margin: 10% auto;
}

form label {
    width: 50%;
    text-align: right;
}

form input, form button {
    color: initial;
}

form .sign-in-btn-container {
    width: 50%;
    text-align: right;
}

form .sign-up-btn-container {
    /*width: 50% */
}

form .sign-in-btn-container, form .sign-up-btn-container {
    display: inline-block;
}

.modal-backdrop.fade.in {
    z-index: 0;
}

header > * {
    display: inline-block;
    margin: 20px;
}

body {
    background: #0D0B0C;
    color: white;
    input-color: black;
}

.navbar, .navbar-default {
    background: #251A1A;
    border: none;
    margin: 0;
    box-shadow: 0 6px 13px 6px rgba(0, 0, 0, 0.5);
}

.navbar .player-stats, .navbar-default .player-stats {
    margin-left: 6%;
}

.navbar .player-stats > li, .navbar-default .player-stats > li {
    width: 80px;
    height: 50px;
    padding: 5px;
    display: inline-block;
}

.navbar .player-stats > li span, .navbar-default .player-stats > li span {
    height: 25px;
    margin: 10px 0;
    color: white;
    width: 40px;
    text-align: center;
    display: inline-block;
}

.navbar .player-stats > li img, .navbar-default .player-stats > li img {
    width: 25px;
    display: inline-block;
}

.navbar .nav-bar > .open .dropdown-toggle, .navbar-default .nav-bar > .open .dropdown-toggle {
    background-color: #4C2626;
}

.navbar .dropdown-toggle:hover, .navbar .dropdown-toggle:focus, .navbar-default .dropdown-toggle:hover, .navbar-default .dropdown-toggle:focus {
    background: #4C2626;
}

.navbar .dropdown-toggle > span, .navbar-default .dropdown-toggle > span {
    color: white;
    display: inline-block;
}

.navbar .dropdown-toggle > span h6, .navbar-default .dropdown-toggle > span h6 {
    font-size: 12px;
    margin: 0;
}

.navbar .dropdown-menu, .navbar-default .dropdown-menu {
    background: #251A1A;
}

.navbar .dropdown-menu > li > a, .navbar-default .dropdown-menu > li > a {
    color: white;
}

.navbar .dropdown-menu > li > a:hover, .navbar-default .dropdown-menu > li > a:hover {
    background: #4C2626;
}

.navbar .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    color: white;
    padding: 15px 10px;
}

.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    opacity: 0.8;
}

.navbar .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a {
    background: #4C2626;
    color: white;
}

.navbar .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:hover {
    background: #6e3737;
    color: white;
}

.navbar a.navbar-brand, .navbar-default a.navbar-brand {
    color: white;
}

.navbar ul li a, .navbar-default ul li a {
    color: white;
}

.navbar .navbar-brand.cientopolis, .navbar-default .navbar-brand.cientopolis {
    padding: 5px 15px;
}

.navbar .navbar-brand.cientopolis img, .navbar-default .navbar-brand.cientopolis img {
    width: 50px;
}

.navbar .dropdown .open, .navbar-default .dropdown .open {
    color: black;
}

.navbar .dropdown .dropdown-toggle, .navbar-default .dropdown .dropdown-toggle {
    padding: 0px 15px;
}

.navbar .dropdown .dropdown-toggle .profile-pic, .navbar-default .dropdown .dropdown-toggle .profile-pic {
    height: 40px;
}

nav .dropdown.open .dropdown-toggle {
    background: #4C2626 !important;
}

nav .dropdown.open .dropdown-toggle:hover, nav .dropdown.open .dropdown-toggle:hover {
    background: #4C2626;
}

/*# sourceMappingURL=styles.css.map */
