<div class="tutorial modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Tutorial</h2>
            </div>
            <div class="modal-body" style="height: 432px;">
            </div>
            <div class="pages">
                <div class="page">
                    <h2>¡Bienvenido a Galaxy Conqueror!!</h2>
                    <p>
                        ¡Sos un explorador interestelar!
                        Tu misión es encontrar galaxias y marcarlas como propias.
                    </p>    
                    <p>  
                        También podés dar tu opinión respecto a las galaxias marcadas por otros
                        y así contribuir en el descubrimiento.
                    </p>
                    <p>
                        Un astrónomo profesional se encargará de evaluar las galaxias más votadas.
                        ¡Si la galaxia que marcaste es aceptada, la habrás conquistado!
                    </p>
                    <p>

                </div>
                <div class="page .table-responsive">
                 <h2>Puntos</h2>
                    <p>
                        Un objetivo importante dentro del juego son los puntos, existen varias formas de obtenerlos.
                    </p>
                    <p>
                        ¡Acordate que la mejor manera es conquistar galaxias!
                    </p>
                    <table class="table small">
                        <tr>
                            <th>Objetivo</th>
                            <th>Cantidad de puntos</th>
                        </tr>
                        <tr>
                            <td>Atrapar extraterrestre</td>
                            <td>+10 puntos</td>
                        </tr>
                        <tr>
                            <td>Conquistar galaxia</td>
                            <td>+500 puntos + bonus</td>
                        </tr>
                        <tr>
                            <td>Votar galaxia</td>
                            <td>+bonus</td>
                        </tr>
                         <tr>
                            <td>Marcar galaxia equívocamente</td>
                            <td>-250 puntos</td>
                        </tr>
                        <tr>
                            <td>Votar equívocamente</td>
                            <td>-penalización</td>
                        </tr>
                    </table>
                    <p>
                        Nota: los puntos por votos y galaxias conquistadas son entregados cuando el astrónomo confirma la misma.
                    </p>
                    <p>
                        El bonus y la penalización dependen de la cantidad de votos.
                    </p>

                </div>
                <div class="page .table-responsive">
                 <h2>Rangos</h2>
                    <p>
                        Al comenzar el juego se te otorgará el rango de Explorador Principiante, para avanzar de nivel deberás cumplir con algunos objetivos.
                    </p>
                    <h4>Lista de niveles</h4>
                    <table class="table small">
                        <tr>
                            <th>Rango</th>
                            <th>Requisitos</th>
                        </tr>
                        <tr>
                            <td>Escudero Estelar</td>
                            <td>5 extraterrestres</td>
                        </tr>
                        <tr>
                            <td>Cadete Espacial</td>
                            <td>2 votos + 8 extraterrestres</td>
                        </tr>
                        <tr>
                            <td>Explorador Habilidoso</td>
                            <td>5 votos</td>
                        </tr>
                        <tr>
                            <td>Observador Nato</td>
                            <td>1 galaxia marcada + 15 extraterrestres</td>
                        </tr>
                        <tr>
                            <td>Cosmonauta Destacado</td>
                            <td>8 votos + conquistar 1 galaxia + 500 puntos</td>
                        </tr>
                        <tr>
                            <td>Corsario Galáctico</td>
                            <td>25 votos + 50 extraterrestres + 1000 puntos</td>
                        </tr>
                        <tr>
                            <td>Explorador Estelar de Élite</td>
                            <td>2 galaxias conquistadas + 2000 puntos</td>
                        </tr>
                        <tr>
                            <td>Conquistador Galáctico</td>
                            <td>3 galaxias conquistadas + 3000 puntos</td>
                        </tr>
                        <tr>
                            <td>Emperador Galáctico</td>
                            <td>5 galaxias conquistadas + 4000 puntos</td>
                        </tr>
                    </table>
                </div>
                <div class="page">
                    <h2>Galaxias</h2>
                    <p>
                        Como dijimos, el principal objetivo del juego es encontrar galaxias.
                        Si ves una, no dudes en marcarla.¡Acordate que dan muchos puntos!
                    </p>
                    <p>
                        Pero cuidado, por que si lo que marcás resulta no ser una galaxia vas a ser penalizado. Por eso, es importante saber distinguir que es una galaxia y qué no.
                    </p>
                    <p>
                        Las galaxias que te podés encontrar en esta imágen son discos rotantes de estrellas y materia interestelar, con una protuberancia central compuesta principalmente por estrellas más viejas.
                    </p>
                    <div style="text-align: center; width: 100%;">
                        <img class="galaxies" src="{{ static('tutorials/img/galaxia-peluda.jpg') }}"/>
                    </div>
                </div>

                <div class="page">
                    <h2>Galaxias</h2>
                    <p>
                        En nuestra imágen, las galaxias y otros objetos estelares se ven más difusos
                        debido a la gran distancia a la que se encuentran.
                        Veamos el siguiente ejemplo:
                    </p>
                    <div style="text-align: center; width: 100%;">
                        <img class="galaxies" src="{{ static('tutorials/img/galaxia.png') }}"/>
                    </div>
                    <p>
                        Las galaxias suelen tener un centro marcado y una espiral o una elipse más tenue que las rodea.
                    </p>
                </div>

                <div class="page">
                    <h2>Transcurso del juego</h2>
                    <h3>Extraterrestres</h3>
                     <p>
                        Los extraterrestres solamente aparecen cuando observas desde muy cerca.
                    </p>
                    <p>
                        ¡Si querés atraparlos vas a tener que ser rápido, porque desaparecen velozmente!
                     <div style="text-align: center; width: 100%;">
                        <img src="{{static('tutorials/img/alien6.png')}}"/>
                    </div>
                </div>
                <div class="page">
                    <h2>Marcar una galaxia</h2>
                    <p>
                        Para marcar una galaxia deberás clickear sobre el botón “Marcar galaxia” y verás como el cursor modifica su forma para convertirse en un marcador gris.
                    </p>
                    <img src="{{static('tutorials/img/marcargalaxia.png')}}"/>
                </div>
                <div class="page">
                    <h2>Tipos de marcadores</h2>
                     <table class="table small">
                        <tr>
                            <th>Indefinido</th>
                            <th>Ganaste</th>
                            <th>Perdiste</th>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{static('tutorials/img/esperando.png')}}"/>
                                <p>
                                    Aún no votaste, tenés que hacerlo para saber qué determinó el astrónomo
                                </p>
                            </td>
                            <td>
                                <img src="{{static('tutorials/img/si-si.png')}}"/>
                                <p>
                                    Votaste a favor y el astrónomo confirmó la galaxia
                                </p>
                            </td>
                            <td>
                                <img src="{{static('tutorials/img/si-no.png')}}"/>
                                <p>
                                    Votaste a favor y el astrónomo rechazó la galaxia
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{static('tutorials/img/no-esperando.png')}}"/>
                                <p>
                                    Votaste en contra pero el astrónomo aún no emitió opinión sobre la galaxia
                                </p>
                            </td>
                            <td>
                                <img src="{{static('tutorials/img/no-no.png')}}"/>
                                <p>
                                    Votaste en contra y el astrónomo rechazó la galaxia
                                </p>
                            </td>
                            <td>
                                <img src="{{static('tutorials/img/no-si.png')}}"/>
                                <p>
                                    Votaste en contra y el astrónomo confirmó la galaxia
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{{static('tutorials/img/si-esperando.png')}}"/>
                                <p>
                                    Votaste a favor pero el astrónomo aún no emitió opinión sobre la galaxia
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="page">
                    <h2>Votar galaxias de otros jugadores</h2>
                    <p>
                        No pierdas la oportunidad de dar tu opinión en las galaxias ajenas.
                        Recordá que sólo los marcadores grises con incógnita pueden ser votados. 
                    </p>
                    <p>
                        ¡Vota con cuidado, si acertás, ganarás puntos, pero si te equivocás podrías perder algunos!
                    </p>
                    <p>
                        Para hacerlo, hacé click sobre el marcador y vas a ver el siguiente cartel:
                    </p>
                    <img src="{{static('tutorials/img/votar.png')}}"/>
                </div>
                <div class="page">
                    <h2>Indicadores</h2>
                    <h5>
                        En la parte inferior podrás ver tus indicadores.
                    </h5>
                    <div>
                        <span style="display: inline-block; text-align: center; width: 4cm">  
                            <img src="{{static('tutorials/img/vote.png')}}"/>
                            <p>
                                Votos
                            </p>
                        </span>
                        <span style="display: inline-block; text-align: center; width: 4cm">
                            <img src="{{static('tutorials/img/galaxy.png')}}"/>
                            <p>
                                Galaxias marcadas
                            </p>
                        </span>
                        <span style="display: inline-block; text-align: center; width: 4cm">
                            <img src="{{static('tutorials/img/coins.png')}}"/>
                            <p>
                                Puntos
                            </p>
                        </span>
                         <span style="display: inline-block; text-align: center; width: 4cm">
                            <img src="{{static('tutorials/img/ufo.png')}}"/>
                            <p>
                                Extraterrestres
                            </p>
                        </span>
                    </div>
                </div>
                <div class="page">
                    <h2>Controles</h2>
                    <p>
                        Para hacer zoom podés utilizar la rueda del mouse o hacer click en las lupas con “+” y “-”.
                    </p>
                    <p>
                        Para desplazarte, hacé click y mantené pulsado el botón izquierdo del mouse, luego arrástrate por el mapa.
                    </p>
                    <img src="{{static('tutorials/img/zoom.png')}}"/>
                </div>
                <div class="page">
                    <h2>Tutorial</h2>
                    <p>
                        Si tenés dudas, podés repasar el tutorial clickeando el botón “INFO” a la derecha del mapa.
                    </p>
                    <img src="{{static('tutorials/img/tutorial.png')}}"/>
                </div>
                <div class="page">
                    <h2>¡A jugar!</h2>
                    <p>
                        ¡¡Ya estás listo para emprender tu aventura intergaláctica!!
                    </p>
                    <p>Mucha suerte joven astronauta</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary previous">Anterior</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary next">Siguiente</button>

            </div>
        </div>
    </div>
</div>
<style>
    img.galaxies {
        width: 60%;
    }
</style>
