{% extends "base.jinja" %}

{% block content %}
<style type="text/css">

</style>
<div class="contact">
    <div>
        <p>
            Si tenés alguna duda o sugerencia, encontraste algún error,
            o querés saber más sobre Galaxy Conqueror escribinos a
            <a href="mailto:ciencia@lifia.info.unlp.edu.ar?subject=[GalaxyConqueror]">
                ciencia@lifia.info.unlp.edu.ar
            </a>
        </p>
        <p>
            <a href="{{ url('game') }}">Volver al juego</a>
        </p>
    </div>
</div>
{% endblock %}